
DROP TABLE dbCreditCard;


/** The dbCreditCard table stores the CreditCard entries. 
 * A credit card number..
 *
 *	id -  blah blah @the primary [[ for the object 
 *	name -  free form text : the name of the object 
 */
CREATE TABLE dbCreditCard (
	id NUMERIC,
	name VARCHAR(255),
	PRIMARY KEY(id)
);

CREATE UNIQUE INDEX dbCreditCard_idx0 ON dbCreditCard(id);

INSERT INTO dbDatabaseId 
    ( id, db_table, db_column, min, max, idx_value, class_id )
  values
    ( 'bizobj/creditcard.CreditCardBean',
      'dbCreditCard', 'id', 1000, 1000000, 1000, "6"  )
;

