
DROP TABLE dbCountry;


/** The dbCountry table stores the Country entries. 
 *  The country code and name .
 *
 *	id -  blah blah @the primary [[ for the object 
 *	name -  free form text : the name of the object 
 */
CREATE TABLE dbCountry (
	id NUMERIC,
	name VARCHAR(255),
	PRIMARY KEY(id)
);

CREATE UNIQUE INDEX dbCountry_idx0 ON dbCountry(id);

INSERT INTO dbDatabaseId 
    ( id, db_table, db_column, min, max, idx_value, class_id )
  values
    ( 'bizobj/country.CountryBean',
      'dbCountry', 'id', 1000, 1000000, 1000, "4"  )
;

